<p>
  <%= user.label :email %><br>
  <%= user.email_field :email %>
</p>

<p>
  <%= user.label :password %><br>
  <%= user.password_field :password %>
</p>

<p>
  <%= user.label :password_confirmation %><br>
  <%= user.password_field :password_confirmation %>
</p>
