<h2>Sign Up</h2>

<%= form_for(@account) do |account| %>
  <%= account.error_messages %>
  <p>
    <%= account.label :name %><br>
    <%= account.text_field :name %>
  </p>

  <p>
    <%= account.label :subdomain %><br>
    <%= account.text_field :subdomain %>
  </p>

  <%= account.fields_for :owner do |owner| %>
    <%= render "subscribem/account/users/form", :user => owner %>
  <% end %>
  
  <%= account.submit %>
<% end %>